.head-act {
    cursor: pointer;
  }
  header .system-header {
    display: grid;
    background: gray;
    height: 46px;
    width: 100vw;
    position: fixed;
    top: -46px;
    transition: all 0.3s;
    z-index: 999;
    grid-template-columns: 100px auto 300px;
    color: white;
    align-content: center;
  }
  .head-buttons {
        display: flex;
  }
  header .system-header-puller {
    display: block;
    position: fixed;
    top: 0px;
    left: 50vw;
    height: 20px;
    width: 60px;
      background: #0000005d;
      z-index: 999;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      cursor: pointer;
      backdrop-filter: blur(1px);
    transition: all 0.3s;
  }
  header.dropped-head .system-header {
    top: 0px;
  }
  
  header.dropped-head .system-header-puller { 
    top: 46px;
  }
    
  header .system-header-puller:hover {
    background: #0079b3b5;
        box-shadow: 1px -2px 20px #0085ff;
  }
  header .system-header-puller:active {
    background: #0099d3b5;
        box-shadow: 1px -2px 10px #0085ff;
  }
  .shp-icon {
    width: 100%;
    height: 80%;
    margin-top: 3px;
    display: grid;
   justify-items: center;
    
  }
  .shp-icon > div {
    width: 60%;
    height: 1px;
    background: #ffffff8a;
  }
  
  
  .container {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1960px;
  }
  
  /* primary header */
  .dragitem {
    margin-bottom: 1px;
   
  }


  
  .col-container {

  }
  .row-today {
    border-bottom: none !important;
    box-shadow: inset 0px 0px 41px #ffffff9c;
    background: #fff9c4 !important;
    outline: auto;
    outline-color: #6d6d6d;
    outline-style: dashed;
  }
  .row-today > div {
    min-height: 400px;
  }
  .tf-watch {
    border-color: red;
  }
  .row-weekend {
    background: #0000001c;
  }
  .col-item {
    padding: 4px;
    padding-bottom: 16px;
    transition: all ease 0.3s;
    border-right: 1px solid rgb(128 128 128 / 22%);
  }
  .col-row:hover {
    background-color: #ffff892e;
  }
  .col-row {
    transition: all ease 0.3s;
    border-bottom: 1px solid rgb(131 131 131 / 36%);
  }
  .col-row-delimeter {
    grid-template-columns: auto !important;
  }
  #master-row {
    position: sticky;

    top: 0px;
       border-bottom: 1px solid #c7c7c7;
    backdrop-filter: blur(6px);
    z-index: 9;
  }
  .content-mid, .dragcard {
    display: grid;
    grid-template-columns: 30px auto;
  }
  .content-mid-reverse {
      display: grid;
    grid-template-columns: auto 36px;
    justify-items: center;
  }
  .col-date {
        background: rgba(0, 0, 0, 0.03);
  }
  #master-row .col-que {
    background-color: #ff810017;
  }
   #master-row  .col-exec{
    background-color: #00e4ff1f;
  }
   #master-row  .col-fin {
    background-color: #00ff8829;
  }
   #master-row .col-paus {
    background-color: #ffe60014;
  }
   #master-row  .col-drop {
    background-color: #e70e0012;
  }
  .col-que:hover {
    background-color: #ff810017;
  }
    .col-exec:hover {
    background-color: #00e4ff1f;
  }
    .col-fin:hover {
    background-color: #00ff8829;
  }
  .col-paus:hover {
    background-color: #ffe60014;
  }
   .col-drop:hover {
    background-color: #e70e0012;
  }
  
  @media (max-width: 2499px){
    .active-que .col-fin .hide-m, .active-que .col-drop .hide-m {
      display: none;
    }
    .active-exec .col-fin .hide-m, .active-exec .col-drop .hide-m {
      display: none;
    }
    .active-paus .col-que .hide-m, .active-paus .col-drop .hide-m {
      display: none;
    }
    .active-fin .col-que .hide-m, .active-fin .col-exec .hide-m {
      display: none;
    }
    .active-drop .col-que .hide-m, .active-drop .col-exec .hide-m {
      display: none;
    }
  }
  
  @media (min-width: 2500px) and (max-width: 4499.98px) {
    .col-row {
      display: grid;
      grid-template-columns: 120px auto 300px 250px 250px 250px;
    }
  .col-container.active-que .col-row {
          grid-template-columns: 120px calc(100% - 1720px) 400px 400px 400px 400px;
    }
  .col-container.active-exec .col-row {
          grid-template-columns: 120px 400px calc(100% - 1720px) 400px 400px 400px;
    }
    
  .col-container.active-paus .col-row {
          grid-template-columns: 120px 
            400px 400px calc(100% - 1720px) 400px 400px;
    }
  .col-container.active-fin .col-row {
          grid-template-columns: 120px 
            400px 400px 400px calc(100% - 1720px) 400px;
    }
  .col-container.active-drop .col-row {
          grid-template-columns: 120px 
            400px 400px 400px 400px calc(100% - 1720px);
    }
  /* .col-container.active-que .col-que, .col-container.active-exec .col-exec, .col-container.active-paus .col-paus, .col-container.active-fin .col-fin, .col-container.active-drop .col-drop {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 6px;
      grid-template-rows: min-content;
  } */
  }
  
  @media (min-width: 1600px) and (max-width: 2499.98px) {
    .col-row {
      display: grid;
      grid-template-columns: 120px auto 300px 250px 250px 250px;
    }
  .col-container.active-que .col-row {
          grid-template-columns: 120px calc(100% - 1012px) 400px 400px 46px 46px;
    }
  .col-container.active-exec .col-row {
          grid-template-columns: 120px 400px calc(100% - 1012px) 400px 46px 46px;
    }
    
  .col-container.active-paus .col-row {
          grid-template-columns: 120px 
            46px 400px calc(100% - 1012px) 400px 46px;
    }
  .col-container.active-fin .col-row {
          grid-template-columns: 120px 
            46px 46px 400px calc(100% - 1012px) 400px;
    }
  .col-container.active-drop .col-row {
          grid-template-columns: 120px 
            46px 46px 400px 400px calc(100% - 1012px);
    }
  /* .col-container.active-que .col-que, .col-container.active-exec .col-exec, .col-container.active-paus .col-paus, .col-container.active-fin .col-fin, .col-container.active-drop .col-drop {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 6px;
      grid-template-rows: min-content;
  } */
  }
  
  @media (min-width: 992px) and (max-width: 1599.98px) {
    .col-row {
      display: grid;
      grid-template-columns: 120px auto auto auto auto auto;
    }
    .col-container.active-que .col-row {
          grid-template-columns: 120px calc(100% - 658px) 400px 46px 46px 46px;
    }
      .col-container.active-exec .col-row {
          grid-template-columns: 120px 400px calc(100% - 658px) 46px 46px 46px;
    }
    .col-container.active-paus .col-row {
          grid-template-columns: 120px 46px 400px calc(100% - 658px) 46px 46px;
    }
      .col-container.active-fin .col-row {
          grid-template-columns: 120px 46px 46px 400px calc(100% - 658px) 46px;
    }
        .col-container.active-drop .col-row {
          grid-template-columns: 120px 46px 46px 46px 400px calc(100% - 658px) ;
    }
    
     .active-que .col-fin .hide-m, .active-que .col-drop .hide-m , .active-que .col-paus .hide-m {
      display: none !important;
    }
        .active-exec .col-paus .hide-m, .active-exec .col-drop .hide-m , .active-exec .col-fin .hide-m {
      display: none !important;
    }
        .active-paus .col-que .hide-m, .active-paus .col-drop .hide-m , .active-paus .col-fin .hide-m {
      display: none !important;
    }
  .active-fin .col-que .hide-m, .active-fin .col-drop .hide-m , .active-fin .col-exec .hide-m {
      display: none !important;
    }
  .active-drop .col-que .hide-m, .active-drop .col-exec .hide-m , .active-drop .col-paus .hide-m {
      display: none !important;
    }
    
    /* .col-container.active-que .col-que, .col-container.active-exec .col-exec, .col-container.active-paus .col-paus, .col-container.active-fin .col-fin, .col-container.active-drop .col-drop {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 6px;
      grid-template-rows: min-content;
  } */
  }
  
  @media (max-width: 991.98px) {
    .col-row {
      display: grid;
      grid-template-columns: 120px auto auto auto auto auto;
    }
    .col-date .hide-m {
      display: none;
    }
      .col-container.active-que .col-row {
          grid-template-columns: 50px auto 46px 46px 46px 46px;
    }
  }
  
  @media (max-width:599.98px) {
    .col-container {
      width: calc(100% + 140px);
    }
    .col-row {
      display: grid;
      grid-template-columns: 46px 46px calc(100% - 230px) 46px 46px 46px ;
    }
    .col-date .hide-m {
      display: none;
    }
      .col-container.active-que .col-row {
          grid-template-columns: 46px calc(100% - 230px) 46px 46px 46px 46px;
    }
        .col-container.active-exec .col-row {
          grid-template-columns: 46px 46px calc(100% - 230px) 46px 46px 46px;
    }
        .col-container.active-paus .col-row {
          grid-template-columns: 46px 46px 46px calc(100% - 230px) 46px 46px;
    }
        .col-container.active-fin .col-row {
          grid-template-columns: 46px 46px 46px 46px calc(100% - 230px) 46px;
    }
        .col-container.active-drop .col-row {
          grid-template-columns: 46px 46px 46px 46px 46px calc(100% - 230px);
    }
       .active-que .col-fin .hide-m, .active-que .col-drop .hide-m , .active-que .col-paus .hide-m, .active-que .col-exec .hide-m {
      display: none !important;
    }
        .active-exec .col-que .hide-m, .active-exec .col-drop .hide-m, .active-exec .col-fin .hide-m, .active-exec .col-paus .hide-m {
      display: none !important;
    }
        .active-paus .col-que .hide-m, .active-paus .col-drop .hide-m , .active-paus .col-fin .hide-m, .active-paus .col-exec .hide-m {
      display: none !important;
    }
  .active-fin .col-que .hide-m, .active-fin .col-paus .hide-m , .active-fin .col-drop .hide-m, .active-fin .col-exec .hide-m {
      display: none !important;
    }
  .active-drop .col-que .hide-m, .active-drop .col-fin .hide-m , .active-drop .col-paus .hide-m, .active-drop .col-exec .hide-m {
      display: none !important;
    }
  }
  
  
    
  
  .ms-actuator {
    display: block;
    position: fixed;
    height: 100vh;
    width: 12px;
    background: #5e5e5e57;
    top: 0px;
    left: 0px;
    transition: all 0.3s;
    
  }
  .ms-actuator:hover, .com-ms-actuator:hover {
  background: #e1f4ff3a;
      box-shadow: -9px 1px 20px #00000033;
      cursor: pointer;
  }
  .com-ms-actuator {
    display: block;
    position: relative;
    height: 100vh;
    width: 12px;
    background: #5e5e5e17;
    top: 0px;
    right: 0px;
    transition: all 0.3s;
    border: 1px solid #5e5e5e50;
  }
  .com-ms-main {
      background-color: #ffffff87;
      height: 100vh;
  }
  .component-side {
    right: 0px;
    width: 300px;
    height: 100vh;
    position: fixed;
  backdrop-filter: blur(3px);
    top: 0px;
    transition: all ease 0.4s;
    display: grid;
        grid-template-columns: 12px auto;
  }
  .component-side.cms-hidden {
    right: -288px;
  }
  .tf-task-form-step-body {
    background: #f1f1f1;
    box-shadow: 0px 0px 12px -3px #00000085;
  }

  .tf_t_check_editable > textarea {
    width: 100%;
    background-color: transparent;
    border-width: 0px;
    line-height: 1.2rem;
  }
  #rowCollection {
    background: #ffffffd6;
  }




  /* card description */
  .tsm-card {
    margin-bottom: 9px;
    transition: all 0.3s;
    outline: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    overflow: hidden;
    background: rgb(131 131 131 / 38%);
    display: grid;
    grid-gap: 1px;
  }
  .tsm-card:hover {
    box-shadow: 0px 2px 11px #0000005e;


  }
  .tsm-card-row {
    transition: all 0.3s;
    display: grid;
    grid-template-columns: 38px auto;
    grid-gap: 1px;
   
  }
    .tsm-card-row:last-child {
    
    }
.tsm-card-row > div:nth-child(odd) {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-between;
}
.tsm-card-row > div {
  background: white;
}
.tsm-card-row:hover {
}
.tsm-card-padding {
  padding: 6px;
  }
   .tsm-card-pre-header {
        font-weight: 500;
    font-size: 1.15rem;
  }
  .tsm-card-header {
    font-weight: 500;
    font-size: large;
  }
   .tsm-card-pre-body {
    
  }
  .tsm-card-body {
    
  }
.tsm-status-done .tsm-card-pre-header {
      background: #00b7cf;
  color: white;
}

.tsm-card-header {
  display: flex;
      justify-content: space-between;
}
.tsm-card-content {
  /*border-bottom: 1px solid #dddddd; */
}
.tsm-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tsm-label {
  padding: 3px 6px;
  
}

.tsm-task-session-body {
  display: grid;
  grid-template-columns: auto 100px;
}
.tsm-task-session-date {
  border-left: 1px solid #dddddd;
  padding-left: 6px;
}
.tsm-card-topbuttons {
  display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.tsm-card-topbuttons > .tsm-card-button {
  padding: 2px 8px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.tsm-card-topbuttons > .tsm-card-button:hover {
  background: #80808047;
}
.tsm-card-topbuttons > .tsm-card-button:active {
  background: #80808077;
}

.tsm-vis-hidden .tsm-card-row:not(:first-child) {
  display: none;
}
.tsm-vis-middle .tsm-mid-mark {
  display: none;
}
.tsm-vis-middle .tsm-check-row {
  display: none;
}
.tsm-vis-cheddle .tsm-check-row {
  display: grid;
}
.tsm-vis-cheddle .tsm-mid-mark {
  display: none;
}
.tsm-vis-cheddle .tsm-content-row {
  display: none;
}

.lilo {
  background: #cc0680;
  color: white;
}
.tsm-check-selector {
  cursor: pointer;
}
.tsm-checked {
  color: #2990c9;
}


.tsm-card .tf_card_event_expandcard {
  background-color: #03a9f41f;
}
.tsm-card.tsm-vis-hidden  .tf_card_event_minifycard {
  background-color: #03a9f41f;
}
.tsm-card.tsm-vis-middle  .tf_card_event_midifycard {
  background-color: #03a9f41f;
}
.tsm-card.tsm-vis-hidden  .tf_card_event_expandcard  {
  background-color: transparent;
}
.tsm-card.tsm-vis-middle  .tf_card_event_expandcard  {
  background-color: transparent;
}
.tsm-card.tsm-vis-cheddle .tf_card_event_expandcard, .tsm-card.tsm-vis-cheddle .tf_card_event_midifycard , .tsm-card.tsm-vis-cheddle .tf_card_event_minifycard {
  background-color: transparent;
}
.tsm-card.tsm-vis-cheddle .tf_card_event_checkifycard {
  background-color: #03a9f41f;
}

.tf-temp-card {
  background: white;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin-bottom: 6px;
  box-shadow: 0px 1px 4px 0px #0000005c;
  background-size: 300% 300%;
  background-image: linear-gradient( -45deg,
   rgb(255 255 255) 0%, rgb(167, 177, 230) 25%,
    rgb(219, 181, 233) 51%, rgb(226, 176, 194) 100% );
  animation: AnimateBG 20s ease infinite;
  overflow: hidden;
  align-items: center;
  display: flex;
  column-gap: 3px;
}
.tf-temp-updated-card .tsm-card-header{
  /* background-image: linear-gradient( -45deg, rgb(255 255 255) 0%, rgb(167 230 208) 25%, rgb(233 231 181) 51%, rgb(226 197 176) 100% );
 animation: AnimateBG 20s ease infinite; */
}
.tf-temp-updated-card {
  opacity: 0.8;
  filter: grayscale(1);
}


.tsm-active-counter {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
}
.tsm-active-counter > * {
  padding: 3px;
  color: #0085ff;
}
.tsm-hidden {
  display: none !important;
}
.tsm-card-pre-body  i{

  font-size: 1.3rem;
}

.tf_task_trashbin {
  color: white;
  position: fixed;
  bottom: 80px;
  right: 12px;
  background: #e91e2fa8;
  font-size: xxx-large;
  z-index: 99;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 1px 14px #ff0e0ea1;
  backdrop-filter: blur(10px);
}
.tsm-card-button-disabled {
  opacity: 0.5;
}
.tsm-card-button-disabled:hover {
  background: transparent !important;
  cursor: default;
}
 
@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.tf-t-c-clock {
  animation: RotateArrow 5s infinite linear;
  display: block;
}
@keyframes RotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
